body{
    background-color: bisque;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: antiquewhite;
}
.nav-bar1{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    padding-right: 50px;
}
.menu{
    display: none;
}/*
#navimg,#cross{
    display: none;
}*/

#nav-bar2{
    display: none;
}

@media screen and (max-width:430px) {
   /*
    .nav-bar1{
    display: none;
   }*/
   
   #cross{
    display: none;
   }
   #navimg{
    
    width: 30px;
    height: 30px;
    padding-right: 15px;
   }
   #cross{
    width: 30px;
    height: 30px;
    padding-right: 15px;
   }
   .hidemenu{
    display: none;
   }
   .menu{
    display: block;
   }

}

